.container {
  margin: 0 auto;
  padding-top: 150px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Máximo 4 por fila */
  gap: 20px;
  width: 70%;
  margin: 0 auto;
  padding: 20px;
}

.gridContainer {
  color: white;
  padding: 20px;
  height: 400px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
}

/* Contenedor para los botones de filtro y el select */
.filterContainer {
  display: flex;
  justify-content: space-between; /* Alinea los elementos a los extremos */
  align-items: center;
  width: 70%;
  margin: 0 auto;
  margin-bottom: 30px;
}

/* Botones de filtro */
.filterButtons {
  display: flex;
  gap: 20px;
}

.filterButtons button {
  padding: 10px 20px;
  background-color: #eee;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.filterButtons button:hover {
  background-color: #ccc;
}

/* Botón activo */
.active {
  background-color: #333 !important;
  color: white;
}

/* Select al lado derecho */
.selectContainer {
  display: flex;
  justify-content: flex-end; 
  gap: 10px; 
}

.filterSelect select {
  padding: 5px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
  background-color: white;
  color: #333;
}
