.container {
  margin: 0 auto;
  padding-top: 150px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Máximo 4 por fila */
  gap: 20px;
  width: 70%;
  margin: 0 auto;
  padding: 20px;

}


.gridContainer { 
  color: white;
  padding: 20px;
  height: 400px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
}

.filterButtons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 30px;
}

.filterButtons button {
  padding: 10px 20px;
  background-color: #eee;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.filterButton:hover {
  background-color: #ccc;
}

/* Botón activo */
.active {
  background-color: #333 !important; 
  color: white;
}