.bigChartBox {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bigChartBox h1 {
  font-size: 25px;
  font-style: normal;
  color: #fff;
}

.bigChartBox .chart {
  width: 100%;
  height: 300px;
}
