.pieChartBox {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.pieChartBox h1{
  font-style: normal;
  color: white;
}

.pieChartBox .chart {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

 .options {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  font-size: 14px;
}

.options .option {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.options .option .title {
  display: flex;
  gap: 10px;
  align-items: center;
}

.option span {
  color: white;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
