.topBox h1 {
  margin-bottom: 40px;
  font-style: normal;
  font-size: 20px;
}

.topBox .list .listItem {
  display: flex;
  align-items: center;

  justify-content: space-between;
  margin-bottom: 30px;
}
.topBox h1 {
  color: white;
}

.user {
  display: flex;
  gap: 20px;
}

.user img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.userTexts {
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: white;
}

.userTexts .username {
  font-size: 14px;
  font-weight: 500;
}

.userTexts .email {
  font-size: 12px;
}

.amount {
  font-weight: 500;
  color: white;
}
