body {
  background: linear-gradient(135deg, #3b5c4c, #8aaf83);

  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;

  margin: 0;

  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  margin-top: 20px;
  font-family: "Inter", sans-serif;
  border-radius: 20px;
  padding: 50px;
}

.container {
  display: flex;
  min-height: 105vh;
  width: auto;
  background-color: #2a3447;
}

.menuContainer {
  width: 250px;
  padding: 5px 10px;
  border-right: 2px solid #ddd;
}

.contentContainer {
  padding: 5px 20px;
  width: 100%;
}
