html,
body {
  overflow-x: hidden;
  box-sizing: border-box;
}

/* General containers */

.containerSlider {
  width: 100%;
  height: 240vh;
  background-color: #1a1a1a77;
}

.containerProducts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
  padding: 0 20px;
}

.containerProducts h2 {
  font-size: 40px;
  margin-bottom: 20px;
  color: white;
  text-align: center;
  font-family: "PT Sans", sans-serif;
  font-style: italic;
  margin-top: 50px;
}

.imagesVector {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: clamp(20px, 5vw, 80px);
  margin-top: 20px;
  flex-wrap: wrap;
}

.imageGroup {
  display: flex;
  align-items: center;
}

.bombillaImage {
  transform: translateX(110px);
}

.mateImage {
  transform: translateX(-110px);
}

.descriptionVector {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
  flex-wrap: wrap;
  padding: 0 20px;
}

.descriptionVector h3 {
  font-size: 20px;
  color: white;
  text-align: center;
  font-family: "PT Sans", sans-serif;
}

.descriptionVector p {
  width: 100%;
  max-width: 250px;
  font-size: 15px;
  color: white;
  text-align: justify;
  font-family: "PT Sans", sans-serif;
  font-style: italic;
  margin-top: 10px;
  margin-bottom: 20px;
  line-height: 1.5;
  font-weight: 300;
}

.descriptionGroup {
  display: flex;
  align-items: center;
  gap: clamp(20px, 5vw, 60px);
  flex-wrap: wrap;
  justify-content: center;
}

.descriptionMate {
  margin-left: 0;
}

.descriptionYerba {
  transform: translateX(20px);
}

.descriptionBombilla {
  transform: translateX(30px);
}

/* Container Banner */

.containerBanner {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  justify-content: center;
  align-items: center;
  margin: 100px auto 10px auto;
}

.textBanner h1 {
  font-size: clamp(30px, 5vw, 70px);
  width: 100%;
  color: white;
  text-align: left;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  line-height: 1.1;
}

.textBanner button {
  background-color: #2e5e3c;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
  margin-top: 20px;
  font-family: "PT Sans", sans-serif;
  font-weight: 600;
  transition: all 0.3s ease;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
}

.textBanner button:hover {
  background-color: #54765d;
  transform: scale(1.05);
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.2);
}

.imageBanner img {
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
  margin-top: 40px;
  transform: translateX(40px);
}

/* PRODUCTOS DESTACADOS */

.containerProductsMates {
  margin-top: 100px;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.productMate {
  display: flex;
  gap: 20px;
  width: 100%;
  max-width: 400px;
  height: auto;
  margin-bottom: 50px;
}

.imageMate {
  width: 100%;
  max-width: 350px;
  height: auto;
  margin: auto;
  margin-top: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

/* CENTRADO DEL h2 */
.headerCenter {
  text-align: center;
}

.headerCenter h2 {
  color: white;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  text-align: center;
}

/* CATEGORÍAS */

.containerCategorias {
  background-color: #dfcfa6;
  height: 400px;
  max-width: 500px;
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 0.3s ease;
  padding: 20px;
}

.containerCategorias:hover {
  transform: scale(1.03);
  border-radius: 20px;
}

.contentGrid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.contentGrid img{
  width: 300px;
  height: auto;
  max-width: 100%;
  object-fit: contain;
}


.contentGrid h2 {
  font-size: 25px;
  color: #4d6b55;
  text-align: center;
  font-family: "PT Sans", sans-serif;
  font-weight: 600;
  margin-top: 20px;
}

/* Container oferts */

h1 {
  font-size: 30px;
  margin-bottom: 50px;
  color: white;
  text-align: center;
  font-family: "PT Sans", sans-serif;
  font-style: italic;
}

.containerOferts {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.ofertsGrid {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.contentOferts {
  background-color: #7b9f7833;
  width: 100%;
  max-width: 400px;
  height: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: flex-start;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 0.3s ease;
  padding: 20px;
}

.contentOferts:hover {
  transform: scale(1.03);
  border-radius: 20px;
}

.imageContainer {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imageContainer img {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}

.contentOferts h3 {
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  color: white;
  text-align: center;
  font-family: "PT Sans", sans-serif;
  margin: 0;
}

.contentOferts p {
  font-size: 15px;
  color: white;
  text-align: justify;
  font-family: "PT Sans", sans-serif;
  margin-top: 10px;
  margin-bottom: 20px;
  line-height: 1.5;
  font-weight: 600;
}

/* --------------------------------------- */
/* Reponsive */

@media (max-width: 850px) {
  .containerSlider {
    height: auto;
    padding: 40px 20px;
  }

  .imagesVector,
  .descriptionVector {
    flex-direction: start;
    gap: 30px;
    align-items: center;
  }

  .descriptionGroup {
    flex-direction: column;
    align-items: center;
  }

  .bombillaImage,
  .mateImage,
  .descriptionYerba,
  .descriptionBombilla {
    transform: none;
    margin: 0 auto;
  }



  .containerBanner{
    display: flex;
    justify-content: space-evenly;
  }

  .textBanner h1 {
    text-align: center;
    font-size: 28px;
  }

  .textBanner button {
    font-size: 18px;
  }

  .imageBanner {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .imageBanner img {
    transform: none;
    max-width: 80%;
    margin: 20px auto 0 auto;
  }

  /* ✅ ESTOS CAMBIOS SON LOS QUE PEDÍS */
  .containerProductsMates {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }

  .productMate {
    width: 180px;
    display: flex;
    justify-content: center;
  }

  .imageMate {
    max-width: 100%;
  }

  .containerCategorias {
    width: 180px;
    height: 180px;
    padding: 15px;
    gap: 10px;
    border-radius: 10px;
  }

  .contentGrid{
    padding-bottom: 10px;
  }

  .contentGrid h2 {
    font-size: 18px;
    text-align: center;
  }

  .contentGrid img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
  }

  /* Para los productos en oferta (parte de abajo) */
  .ofertsGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
  }

  .contentOferts {
    width: 140px;
    height: 140px;
    padding: 10px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .descriptionVector p {
    text-align: center;
  }
}
